.spot-card-container {
    height: 20em;
    width: 18em;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 15em 1.6em 1.4em 1.4em;
    margin-bottom: 1em;
}

.spot-card-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15em;
    height: 14em;
}

.spot-card-info {
    max-height: 1.8em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: .2em;
}

.spot-card-image {
    width: 100%;
    height: 100%;
    border-radius: .5em;
    background-size: cover;
}


.spot-card-name {
    font-size: 13px;
    font-weight: 550;
}

.spot-card-location {
    font-size: 14px;
    color: slategray;
}

.spot-card-price {
    font-size: 13px;
}

.card-left {
    margin-left: 1em;
    width: 2em;
    height: 2em;
    background-color: rgb(237, 227, 227);
    border-radius: 50%;
    border: none;
}

.card-right {
    margin-right: 1em;
    width: 2em;
    height: 2em;
    background-color: rgb(237, 227, 227);
    border-radius: 50%;
    border: none;
}
