#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    width: 25em;
    /* height: 20em; */
    display: grid;
    grid-template-rows: 25% 50% 25%;
    position: absolute;
    background-color: white;
    border-radius: 1em;
    height: 25em;
}

#signup-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

#signup-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

#signup-modal-content {
    position: absolute;
    background-color: white;
    width: 30vw;
    height: 60%;
    border-radius: 1em;
}

#add-review-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-review-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#add-review-modal-content {
    width: 25em;
    height: 15em;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    position: absolute;
    background-color: white;
    border-radius: 1em;
}

#edit-review-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit-review-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#edit-review-modal-content {
    width: 25em;
    height: 15em;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    position: absolute;
    background-color: white;
    border-radius: 1em;
}

#edit-review-modal-profile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit-review-modal-background-profile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#edit-review-modal-content-profile {
    width: 25em;
    height: 15em;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    position: absolute;
    background-color: white;
    border-radius: 1em;
}
