.photos-modal-container {
    display: flex;
    align-items: center;
    height: 6em;
    border-bottom: 1px solid rgb(221, 221, 221)
}

.all-photos-button {
    min-width: 100px;
    padding: 10px 20px;
    border-radius: .5em;
    border: 1px solid lightgray;
    background: transparent;
    font-size: 1em;
}

.photos-modal-background {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper {
    width: 50vw;
    height: 80vh;
    margin-top: 5em;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: black;
    color: #000;
    display: grid;
    grid-template-rows: 65% 35%;
    z-index: 10;
    border-radius: 10px;
}

.photos-modal-content {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 100%;
    align-items: center;
}

/* .photos-modal-content button {
    padding: 10px 24px;
    background: #141414;
    color: #fff;
    border: none;
} */

.close-button {
    cursor: pointer;
    position: absolute;
    top: 95px;
    right: 20px;
    width: 32px;
    height: 32px;
    padding: 0;
    z-index: 10;
    border: none;
    color: white;
    background: transparent;
}

.photos-modal-img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background: #000;
}


.current-image {
    background-size: contain;
    width: 100%;
    height: 90%;
    /* object-fit: cover; */
}

/* .current-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.arrow-button {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    background: transparent;
    width: 3em;
    height: 3em;
}

.mid-image {
    width: 100%;
    max-height: 26em;
    border-radius: .3em;
    transition: ease-in-out .2s;
    transform: translateX(0);
}
