.review-card-container {
    display: grid;
    grid-template-columns: 12em 27em;
    height: 10em;
    padding-bottom: 2em;
}

.my-reviews-container {
    margin-top: 2em;
    border-top: 1px solid rgb(221, 221, 221);
    padding-top: 2em;
}

.review-spot-img {
    width: 100%;
    height: 11em;
    border-radius: 5px;
    cursor: pointer;
}

.my-reviews-content {
    display: grid;
    grid-template-rows: 2em 3em 1fr;
    padding-left: 1em;
    padding-top: .2em;
}

.my-reviews-spot-name-container {
    display: grid;
    grid-template-columns: 70% 1fr;
}

.my-reviews-date {
    font-size: .8em;
    color: rgb(153, 153, 153);
}

.my-reviews-spot-name {
    font-size: 1.2em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.review-word {
    font-size: 1.2em;
    font-weight: 500;
}

.star-custom {
    font-size: 12px;
}

fa-star {
    color: yellow;
}

.my-reviews-review {
    font-size: .8em;
}

.edit-delete-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    padding-top: .3em;
}

.edit-delete-buttons {
    color: blue;
    cursor: pointer;
}
