.luxe-difference-container {
    display: grid;
    grid-template-rows: 8rem 8rem 10rem;
    width: 75%;
    height: 31em;
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-top: -3em;
}

.luxe-difference {
    min-width: 0;
    flex-basis: 0;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
}

.amenities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.amenities-box {
    display: grid;
    grid-template-rows: 40% 30% 30%;
    padding-right: 3em;
}


.amenities-box-2 {
    display: grid;
    grid-template-rows: 40% 30% 30%;
}

.amenities-box-content {
    display: flex;
    align-items: center;

}

.amenities-box-words {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    line-height: 20px;
    font-size: 15px;
}
