.booking-component-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2em;
}


.select-checkin-words {
    font-family: sans-serif;
    font-size: 1.3em;
}

.checkin-word-container {
    display: flex;
    justify-content: center;
}

.calendar {
    padding-right: 4em;
}
