.reviews-container {
    display: grid;
    grid-template-rows: 2em 1fr;
    width: 59%;
    border-top: 1px solid rgb(221, 221, 221);
    margin-top: 3em;
    padding-top: 1em;
}

.reviews-star {
    padding-top: 1em;
}

.avg-star {
    margin-left: .5em;
    font-size: 1em;
    font-weight: 600;
    font-family: sans-serif;
}

.reviews-section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
}

.reviews-card-container {
    display: grid;
    grid-template-rows: 4em 4em;
    width: 40%;
    height: 8em;
}

.join-date-container {
    display: flex;
    justify-content: space-between;
}

.edit-review-button {
    font-size: .8em;
    padding-top: .3em;
    letter-spacing: .5px;
    color: blue;
}

.profile-image-area {
    display: grid;
    grid-template-columns: 4em 80%;
    align-items: center;
    margin-top: 1em;
}

.review-profile-image {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.name-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-family: sans-serif;
    font-size: .9em;
}

.user-join-date {
    font-size: .8em;
    padding-top: .3em;
    letter-spacing: .5px;
    color: rgb(180, 181, 181);
}

.review-body {
    padding-top: 1em;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
}
