@font-face {
    font-family: LoveStory;
    src: './LoveStoryFont.ttf';
}

.home-details-page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 7em;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 58%
}

.home-details-name-image-container {
    display: grid;
    grid-template-rows: 4em 3em 37em;
    width: 100%;
}

.spot-name {
    display: flex;
    width: 100%;
    font-size: 1.8em;
    font-family: sans-serif;
    font-weight: 100;
    align-items: center;
}

.ratings-font {
    font-size: 1em;
    margin-left: .3em;
    color: gray;
    font-family: sans-serif;
    text-align: center;
}


.big-image {
    width: 100%;
}

.big-image img {
    border-radius: .6em;
    width: 100%;
    height: 100%;
}

.description-container {
    margin-top: 2em;
}

.description-container p {
    font-size: .9em;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 1.5em;
}

.city-description {
    height: 4em;
    border-bottom: 1px solid rgb(221, 221, 221)
}

.city-state {
    font-family: sans-serif;
    font-size: 1.8em;
    font-weight: 100;
}

.hospitality-container {
    font-size: 17px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.hospitality {
    font-style: italic;
}

.hospitality span {
    font-style: normal;
    font-weight: 500;
    font-family: LoveStory;
    padding-left: .2em
        /* letter-spacing: .05em; */
}

.home-details-photos-container {
    display: grid;
    grid-template-rows: 22em 16em;
}

.home-details-photos-top {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 50% 50%;

}

.home-details-photos-top img {
    width: 100%;
    height: 22em;
}

.home-details-photos-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
}

.home-details-photos-bottom img {
    width: 100%;
    height: 16em;
}

.show-all-photos-container {
    margin-top: 2.5em;
}

.show-all-photos-container button {
    background-color: transparent;
    border: 1px solid gray;
    height: 3em;
    width: 10em;
    border-radius: .5em;
    font-weight: 500;
}
