.home-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
}

.home-previews-container {
    display: grid;
    grid-template-rows: 20em 50em;
    width: 75%;
    height: 60%;
    justify-content: center;
}

.home-wording {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 20em;
    width: 100%;
}

.extraordinary {
    width: 50%;
    font-size: 2em;
    font-weight: 500;
}

.expertly-design {
    width: 90%;
    font-size: 1.5em;
    font-weight: 100;
    font-family: sans-serif;
    padding-left: .5em;
}

.preview-homes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 97.5%;
    height: 100%;
}
