@font-face {
    font-family: bettergrade;
    src: url(BetterGrade-519DV.ttf);
}


.luxe {
    font-family: bettergrade;
    font-size: 4em;
    padding-right: .15em;
    cursor: pointer;
    color: black
}

.navbar-container {
    display: flex;
    background-color: white;
    justify-content: space-around;
    position: fixed;
    padding: 0;
    height: 5em;
    width: 100vw;
    margin-left: -.5em;
    z-index: 1;
}

.navbar-container-not-home {
    display: flex;
    background-color: white;
    justify-content: space-around;
    position: fixed;
    padding: 0;
    height: 5em;
    width: 100vw;
    margin-left: -.5em;
    z-index: 1;
}

.luxe2 {
    font-family: bettergrade;
    font-size: 4em;
    padding-right: .15em;
    cursor: pointer;
    color: black
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.login-button-container {
    display: grid;
    grid-template-rows: 5.2em 6em;
    width: 5em;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.EVENTS {
    border-left: 1px solid rgb(221, 221, 221);
    font-size: 1.1em;
    padding-left: .5em;
    letter-spacing: .2em;
    color: black
}

.EVENTS2 {
    border-left: 1px solid rgb(221, 221, 221);
    font-size: 1.1em;
    padding-left: .5em;
    letter-spacing: .2em;
    color: black
}

html[data-scroll='0'] .navbar-container {
    background-color: transparent;
}

html[data-scroll='0'] .EVENTS {
    border-left: 1px solid white;
    color: white
}

html[data-scroll='0'] .luxe {
    color: white
}
